.data-grid .sortable:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
.main-container:before,
.main-container:after,
.entity-form footer:before,
.entity-form footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
.main-container:after,
.entity-form footer:after {
  clear: both;
}
/* ==========================================================================
   APPLICATION STYLES
   ========================================================================== */
.main-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.entity-page .page-header {
  text-transform: capitalize;
}
.form-group > label {
  text-transform: capitalize;
}
.entity-dropdown > .items .item .btn {
  width: 26px;
}
.entity-dropdown > .items .item .form-control,
.entity-dropdown > .items .item .btn {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.entity-dropdown > .items .item:last-child .form-control,
.entity-dropdown > .items .item:last-child .btn {
  border-bottom: none;
}
.entity-dropdown > .items .item + .item .form-control,
.entity-dropdown > .items .item + .item .btn {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: none;
}
.entity-dropdown > .has-items + .dropdown-toggle {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.entity-dropdown .selector-wrap {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  padding: 0 3px;
  z-index: 1000;
}
.entity-dropdown .selector-wrap .entity-selector {
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.entity-dropdown.open .selector-wrap {
  display: block;
}
.entity-selector .items-container {
  background: #eeeeee;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
  padding: 2px 1px 0;
}
.entity-selector .items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.entity-selector .items li {
  cursor: pointer;
  padding: 3px 6px;
}
.entity-selector .items li:hover {
  background: #fff;
}
.entity-selector .items li.selected:before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e013";
  margin-right: 0.5em;
}
/* ==========================================================================
   ENTITY FORM
   ========================================================================== */
.entity-form {
  position: fixed;
  z-index: 999;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  background: #fff;
  -webkit-transition: right 100ms ease-in-out;
  transition: right 100ms ease-in-out;
  -webkit-box-shadow: -3px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: -3px 0 0 rgba(0, 0, 0, 0.2);
}
.entity-form .flash {
  display: block;
  float: left;
  padding: 3px 6px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
}
.entity-form .flash-success {
  color: #3c763d;
}
.entity-form .flash-danger {
  color: #a94442;
}
.entity-form .flash-warning {
  color: #8a6d3b;
}
.entity-form.opened {
  right: 0px;
}
.entity-form-header,
.entity-form footer {
  position: absolute;
  left: 0;
  width: 100%;
}
.entity-form-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  min-height: 16.428571429px;
  top: 0;
  height: 55.714285722px;
}
.entity-form-title {
  margin: 0;
  line-height: 1.428571429;
}
.entity-form footer {
  margin-top: 15px;
  padding: 19px 20px 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
  bottom: 0;
  height: 65px;
}
.entity-form footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.entity-form footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.entity-form footer .btn-block + .btn-block {
  margin-left: 0;
}
.entity-form .wrap {
  padding-bottom: 65px;
  height: 100%;
}
.entity-form main {
  padding: 20px;
  padding-left: 30px;
  height: 100%;
  overflow-y: auto;
}
.entity-form .field {
  position: relative;
}
.entity-form .field.required label:after {
  content: 'обязательно';
  position: relative;
  margin-left: 0.5em;
  color: #b3b3b3;
  font-weight: normal;
  font-size: 12px;
}
.entity-form .field-help {
  position: absolute;
  left: -21px;
  top: 4.2px;
  font-size: 12px;
  color: #b3b3b3;
  cursor: pointer;
}
/* ==========================================================================
   DATA GRID
   ========================================================================== */
.data-grid .sortable {
  color: #428bca;
  cursor: pointer;
}
.data-grid .sortable:after {
  font-size: 12px;
  color: #b3b3b3;
  padding-left: 0.5em;
}
.data-grid .sortable.asc:after {
  content: "\e113";
}
.data-grid .sortable.desc:after {
  content: "\e114";
}
.data-grid td:first-child,
.data-grid th:first-child {
  padding-left: 15px;
}
.data-grid td:last-child,
.data-grid th:last-child {
  padding-right: 15px;
}
.data-grid th {
  text-transform: capitalize;
}
.data-grid .item {
  cursor: pointer;
}
.data-grid .col-id {
  width: 70px;
}
.data-grid .col-created_at,
.data-grid .col-updated_at {
  width: 150px;
}
.data-grid .no-items {
  text-align: center;
  font-style: italic;
}
