@import "@{twbs}/variables";

@gray-light: lighten(@gray-base, 70%);

@body-bg: #efefef;

@font-size-base: 12px;

@padding-base-vertical:          3px;
@padding-base-horizontal:        6px;

@padding-large-vertical:         5px;
@padding-large-horizontal:       8px;

@padding-small-vertical:         1.5px;
@padding-small-horizontal:       5px;

@border-radius-base:             3px;
@border-radius-large:            5px;
@border-radius-small:            2px;

@modal-inner-padding: 20px;

@table-cell-padding:           5px;
@table-condensed-cell-padding: 3px;

@navbar-height:     40px;
@nav-link-padding:  7px 10px;

@alert-padding: 10px;

/*
 * Application variables
 */

@content-header-height: 50px;
@content-base-padding: 15px;
@content-header-padding: ((@content-header-height - @input-height-base) / 2);