/* ==========================================================================
   ENTITY FORM
   ========================================================================== */

.entity-form {
    @width: 600px;
    @footer-padding: @navbar-padding-vertical @navbar-padding-horizontal;
    @footer-height: @navbar-height + 1;

    position: fixed;
    z-index: @zindex-navbar-fixed + 1;
    top: 0;
    right: -@width;

    .size(@width, 100%);

    background: #fff;

    .transition(right 100ms ease-in-out);
    .box-shadow(-3px 0 0 rgba(0, 0, 0, 0.2));

    .flash {
        display: block;
        float: left;
        .button-size(@padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; 0);

        &-success {
            color: @alert-success-text;
        }

        &-danger {
            color: @alert-danger-text;
        }

        &-warning {
            color: @alert-warning-text;
        }
    }

    &.opened {
        right: 0px;
    }

    footer {
        position: absolute;
        left: 0;
        width: 100%;
    }

    .navbar {
        position: absolute;
        width: 100%;
    }

    &-title {
        &:extend(.modal-title);
    }

    footer {
        &:extend(.modal-footer);

        bottom: 0;
        height: @footer-height;
        padding: @footer-padding;
    }

    .wrap {
        padding-top: @navbar-height;
        padding-bottom: @footer-height;
        height: 100%;
        display: none;

        &.active {
            display: block;
        }
    }

    .field-list {
        padding: @modal-inner-padding;
        padding-left: @modal-inner-padding * 1.5;
        height: 100%;
        overflow-y: auto;

        .field-list {
            padding: 0;
            height: auto;
            overflow: visible;
        }
    }

    .field {

        &.required .field-label:after {
            content: '*';
            margin-left: 0.5em;
            color: red;
            font-weight: normal;
            font-size: @font-size-base;
        }

        &-help {
            margin-left: -20px;
            margin-right: 8px;
            font-size: 12px;
            color: @gray-light;
            cursor: pointer;

            &:hover {
                color: @link-hover-color;
            }
        }
    }
}

@import "fields.less";