@import "entityDropdown.less";
@import "entitySelector.less";
@import "fileList.less";
@import "imageList.less";
@import "hasMany.less";

.markdown-editor {
    .tab-pane-preview {
        overflow-y: auto;
        margin-top: @padding-base-vertical;
        padding-bottom: @padding-base-vertical;
        border-bottom: 1px solid @nav-tabs-border-color;
    }
}

.number-filter {
    .dropdown-toggle .value {
        font-weight: bold;
        margin-right: 3px;
    }
}